<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Fithit </title>
    <link rel="stylesheet" href="../login/login.css" type="text/css">
</head>
<body class="flex centerY">
    <div class="container">
        <div class="form flex flexcolumn fontPrimary">
            <h3>Login To Your Account</h3>
            <form class="flex flexcolumn">
                <input type="text" placeholder="Email/Username" id="username">
                <input type="password" id="userpass" placeholder="Password">
                <span><a href="#"><i>Create An Account?</i></a></span>
                <button class="defbutton" onclick="checkuser()" type="button">Login</button>
            </form>
        </div>
    </div>
</body>
<script src="../login/login.js" type="application/javascript"></script>
</html>